asposestorage==1.0.2
boto3==1.22.0
coloredlogs==15.0.1
easydict==1.10
einops==0.6.1
ipython==8.2.0
matplotlib==3.5.1
nibabel==5.1.0
nori2==1.12.1
numpy==1.19.5
numpy==1.22.3
opencv_python==4.5.5.64
prettytable==3.8.0
py_goicp==0.0.4
pycuda==2022.2.2
pyrsistent==0.18.1
pytorch3d==0.7.4
PyYAML==5.4.1
PyYAML==6.0.1
scikit_learn==1.0.2
scipy==1.8.0
setuptools==59.5.0
setuptools==45.2.0
termcolor==2.3.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.0
transforms3d==0.4.1
